$primary-font: "Poppins", sans-serif;
$secondary-font: "Titillium Web", sans-serif;

$header-color: white;
$text-grey-color: #333333;
$body-overlay: #173D3340;
$hover-color: rgb(157, 88, 230);

$full: 1919px;
$laptop: 1439px;
$tablet: 767px;
$mobile: 359px;